header {
    background-color: transparent;
    box-shadow: none;
}
img {
    width: 100%;
}
.info {
    margin-top: -56px;
    position: relative;
    z-index: -1;
}
.title {
    font-size: 20px;
}
.info-box {
    position: absolute;
    width: 80%;
    color: white;
    left: 10%;
    top: 40%;
}
.pic-num {
    position: absolute;
    bottom: 0;
    color: white;
    left: 20px;
    font-size: 12px;
}
.detail {
    padding: 15px 15px 2px;
    font-size: 12px;
    border-bottom: 15px solid #ebebeb;
    color: gray;
}
.detail p {
    margin: 0;
}
.detail h6{
    font-weight: bold;
    color: #000;
}
.more-detail {
    display: none;
}
.rotate {
    transform: rotate(180deg);
}
.glyphicon-send {
    margin: 0;
}
.hot,.all,.my {
    width: 33.33%;
    float: left;
}
.change {
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    font-size: 13px;
    color: gray;
    box-shadow: 0 2px 6px #00000014;
}
.active {
    color: #ac975e;
}
.line {
    width: 33%;
}
.pic-list {
    padding: 1%;
}
.pic-list img {
    width: 33.33%;
    float: left;
    padding: 0.7%;
}
.all-pic,.my-pic {
    display: none;
}